<% layout("/layouts/boilerplate") %>

<body>
    <div class="row mt-3">
        <div class="col-md-8 offset-md-2 ">
            <h3>Edit Listing</h3>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" class="form-control" value="<%= listing.title%>">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" name="listing[description]" class="form-control"><%= listing.description %></textarea>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" class="form-control" value="<%= listing.location %>">
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" class="form-control" value="<%= listing.price %>">
                    </div>
                    <br>
                    <br>
                    <!-- <br>
                    <br>
                    <br> -->
                    <div class="col-md-8 mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" class="form-control" value="<%= listing.country %>">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input type="text" name="listing[image]" class="form-control" value="<%= listing.image %>">
                </div>
                <br>
                <div class="mb-3">
                    <button class="btn mt-2 mb-4 btn-dark add-btn" style="width: 100%;">Edit</button>
                    <!-- <br>&nbsp;<br> -->
                </div>

            </form>
        </div>
    </div>
</body>