<% layout("/layouts/boilerplate") %>

<body>
    <div class="row mt-3">
        <div class="col-md-8 offset-md-2 ">
            <h3>Edit Listing</h3>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" class="form-control" value="<%= listing.title%>" required>
                    <div class="invalid-feedback">Title is required</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                    <div class="invalid-feedback">Description is required</div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" class="form-control" value="<%= listing.location %>" required>
                    <div class="invalid-feedback">Please Enter Location!</div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" class="form-control" value="<%= listing.price %>" required>
                        <div class="invalid-feedback">Enter a valid price</div>
                    </div>
                    <br>
                    <br>
                    <!-- <br>
                    <br>
                    <br> -->
                    <div class="col-md-8 mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" class="form-control" value="<%= listing.country %>" required>
                        <div class="invalid-feedback">Enter a Country Name</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input type="text" name="listing[image]" class="form-control" value="<%= listing.image %>" requireds>
                    <div class="invalid-feedback">Enter a accessable Image link (Optional)</div>
                </div>
                <br>
                <div class="mb-3">
                    <button class="btn mt-2 mb-4 btn-dark add-btn" style="width: 100%;">Edit</button>
                    <!-- <br>&nbsp;<br> -->
                </div>

            </form>
        </div>
    </div>
</body>